
@font-face {
  font-family: SFPro;
  src: url('System San Francisco Display Regular.ttf');
}
@font-face {
  font-family: SFPro;
  src: url('System San Francisco Display Bold.ttf');
  font-weight: bold;
}
body {
  max-width: 1350px;
  padding: 0 3%;
  background-color: #eeeeee;
  margin: 0 auto;
}
.main-container {
  background-color: white;
  width: 100%;
}
header,
.fixed-header {
  width: 100%;
  background-color: white;

}

p {
  font-family: SFPro, Roboto, sans-serif;
  color: #58585a;
}
.main-menu ul li a {
font-size: 1.1em;
}
.fixed-main-menu ul li a {
font-size: 1em;
}
.main-menu ul li a,
.fixed-main-menu ul li a {
  text-decoration: none;
  color: #333333;
  font-family: SFPro, Roboto, sans-serif
}

.main-menu ul li a:hover {
  color: #b2b2b2;
}
/* mobile menu styles */
#myLinks {
  overflow: hidden;
  background-color: white;
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}

#myLinks a {
  color: #333333;
  font-size: 1em;
  line-height: 1.1em;
  font-family: SFPro, Roboto, sans-serif;
  text-decoration: none;
  display: block;
  padding: 1%;
}
   a.icon {
  background: white;
  display: block;
  font-size: 2em;
  color: #58585a;
  text-align: center;
  margin-bottom: 2%;

}
#myLinks {
  display:none;
  text-align: center;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: #9d0a0e;
  color: white;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 12px;
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* header styles */
header
.cities {
  font-family: SFPro;
  font-weight: bold;
  list-style: none;
  color: #9d0a0e;
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  align-items: center;
  height: 100%;
  margin: 0;
  padding-left: 0;
  padding-top: 1.8%;
}

.hide {
  display: none;
}
.fixed-header {
  display: none;
  height: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.fixed-header img {
  width: 250px;
  margin: 7%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}
.dot {
  height: 10px;
  width: 10px;
  background-color: #9d0a0e;
  border-radius: 50%;

  margin: auto 0;
}

.menulogo-container,
.fixed-menu-logo-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menulogo-container {
  height: 150px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.fixed-menu-logo-container {
  position: fixed;
  z-index: 5;
  background: white;
  width: 94%;
  top: 0;
  max-width: 1350px;
}

.logo img {
  width: 340px;
  max-height: auto;
  margin: 7%;
  padding-top: 2%;
}

.main-menu ul,
.fixed-main-menu ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.main-menu ul {
 padding-top: 50px;
}
.main-menu ul li,
.fixed-main-menu ul li {
  margin: 4%;
}
.main-menu,
.fixed-main-menu {
  width: 100%;
}
/* hero section styles */
.hero {

  position: relative;


}
.hero img {
  width: 100%;
  height: auto;

}
.hero-text {
  position: absolute;
  bottom: 15%;
  width: 100%;
  margin: 0 auto;
}

.hero-text h1,
.hero-text h2 {
  color: white;
  font-weight: bold;
  font-family: SFPro, Roboto, sans-serif;
}
.hero-text h1 {
  font-size: 5em;
  text-align: center;
}
.hero-text h2 {
  font-size: 2.8em;
  text-align: center;
  padding: 0 2%;
  line-height: 1.5em;

}
/* Service section styles */

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  padding: 3%;
  background-color: white;
  margin-top: 12%;

}
.service {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.service-image img {
  width: 65px;
  height: auto;
  padding: 2%;
}
.service-text {
  text-align: center;
}


/* Tooltip text */
#tooltip .tooltiptext {
  visibility: hidden;
  width: 25%;
  background-color: #58585a;
  color: #fff;
  text-align: left;
  padding: 1.5%;
  border-radius: 6px;
  font-family: SFPro;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

@media(any-hover) {
   #tooltip:hover .tooltiptext {
  visibility: visible;
}
}
/* Specialism section styles */

.specialisms {
  background-color: #b7b7b7;
}
.red-heading {
  color: #9d1c20;
}
.grey-heading {
  color: #58585a;

}
#services-grey {
    top: 100px;
}
.white-heading {
  color: white;
}
.red-heading,
.grey-heading,
.white-heading{
  text-align: center;
  font-family: SFPro;
  font-size: 2em;
  position: relative;
}


.wave-divider,
.wave-divider-opp,
.KL-tower-divider,
.wave-divider-dark {
  width: 100%;
  min-height: 50px;
  position: relative;
}
.wave-divider-opp {

}
.KL-tower-divider:before {
  background: url('images/SVG/DB-capital-skyline-white.svg');
  content: '';
  position: absolute;
  left: 0;
  top: -90px;
  width: 100%;
  height: 350px;
  background-repeat:repeat-x;
}
.wave-divider:before {
    background: url('images/SVG/wave.svg');
}
.wave-divider-dark:before {
  background: url('images/SVG/dark-grey-wave.svg');
}
.wave-divider-opp:before {
    background: url('images/SVG/white-wave.svg');
    content: '';
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    height: 350px;
    background-repeat:no-repeat;
}
.wave-divider:before,
.wave-divider-dark:before
 {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 150px;
  background-repeat:no-repeat;
}

/*seperator styles
.separator {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.separator::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #b7b7b7;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
} */
.specialisms {
  padding-bottom: 2%;
  padding-top: 1%;
}
.asset-container {
  background-color: white;
    margin: 0 2%;
}

.hard-asset-container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
  margin-bottom: 100px;
}
.hard-asset,
.soft-asset {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: auto;
  align-items: center;
  margin: 2%;
  background-color: #e1e1e1;


}
.asset-image img {
  width: 100%;
  height: 180px;

}
.asset-image {
  width: 100%;
  object-fit: cover;
}
.asset {
  text-align: center;
  padding-top: 2%;
  font-family: SFPro;
  color: #58585a;

}
.asset h2 {
  color: #58585a;
}
.asset-text p {
  color: #58585a;
  font-weight: bold;
  text-align: center;
}
.experience {
  padding-bottom: 2%;
}
.client-experience-text {

  border-left: 5px solid #9d1c20;
  width: 90%;
  margin: 0 auto;
}
.client-experience-text p {
  font-size: 1.2em;
  margin-left: 1%;
}
.people-container {
  background-color: #919193;
  padding: 2% 2% 8% 2%;
  margin: 0 auto;

}
.people {
  text-align: center;
}
.md-image {
  object-fit: contain;

}
.md-image img {
  width: 170px;
  border:5px #ffffff solid
}
.people-text {

  font-size: 1.2em;
  margin: 1%;
  line-height: 1.5em;
  text-align: left;
  }
.people-text p {
  color: white;
  margin-left: 4%;
}
.md-text {
  color:white;
  font-size: 1.1em;
  padding-bottom: 20px;
}
.db-capital {
  color: #9d1c20;
  font-weight: bold;

}
.contact img {
  width: 250px;
  margin: 0 auto;
  display: block;
}
.contact-details p {
  font-size: 1.2em;
  line-height: 1.5em;
  padding-bottom: 2em;
  margin-bottom: 0;

}
.contact-details {
  text-align: center;
}
.contact-details a {
  color: #9d0a0e;
}
/*footer styles */
footer {
  background-color: #919193;
  height: 7em;
}
footer .cities {
  font-family: SFPro;
  font-weight: bold;
  list-style: none;
  color: #9d0a0e;
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  align-items: center;
  height: 100%;
  margin: 0;
  padding-left: 0;
}

/* media queries */

@media screen and (max-width:1100px)and (min-width:900px) {
  .hero-text h1 {
    font-size: 4em;
  }
  .hero-text h2 {
    font-size: 2em;
  }

}
@media screen and (min-width: 941px)and (max-width:1050px) {
  .asset-image img {
    height: 150px;
  }
}
@media screen and (max-width:899px) {
  .hero-text h1 {
    font-size: 3em;
  }
  .hero-text h2 {
    font-size: 1.8em;
  }
  .logo img {
    width: 200px;
  }
  .main-menu ul li a {
    font-size: 0.95em;
  }
  body {
    padding: 0;
  }
  .fixed-menu-logo-container {
    width: 100%;
  }
}
@media screen and (min-width:670px) {
  .mobile-nav
    {
    display: none;
  }
  a.icon {
    display: none;
  }

}
@media screen and (min-width:670px) and (max-width:940px) {
  .hard-asset,
  .soft-asset {
    width: 45%;

  }
  .asset-image img {
    height: 250px;
  }
  .hard-asset-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width:669px) {

  ul.cities  {
    display: none;
  }
  .asset-image img {
    height: 200px;
  }
.hero-text h1 {
  font-size: 2.5em;
}
.hero-text h2 {
  font-size: 1.2em;
}
.menulogo-container {
  display: block;
  text-align: center;
}
.main-menu {
  display: none;
}
.fixed-header {
  display: none;
}
.logo img {
  margin: 5% 5% 1% 5%;
}
.hard-asset-container {
  display: block;
  text-align: center;
}
.hard-asset,
.soft-asset {
  width: 90%;
  margin: 0 auto;
}
.service-image img {
  width: 45px;
}
#tooltip .tooltiptext {
  width: 90%;
}
.service {
  width: 100%;
}
.service-text  {
  font-size: 0.8em;
}
.services-container  {
  display: block;

}
.red-heading,
.grey-heading,
.white-heading {
  font-size: 1.8em;
}
.asset {
  font-size: 1.3em;
}
.client-experience-text {
  font-size: 0.8em;
}
.services-container {
  margin-top: 5%;
}
.menulogo-container {
  height: 120px;
}
#services-grey {
  position: static;
}
}

@media screen and (min-width:480px) and (max-width:699px) {
  .hard-asset,
  .soft-asset {
    width: 45%;

  }
  .asset-image img {
    height: 200px;
  }
  .hard-asset-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 520px) {
  .hero-text h1 {
    font-size: 1.8em;
  }
  .hero-text h2 {
    font-size: 0.9em;
  }
  .wave-divider,
  .KL-tower-divider,
  .wave-divider-opp,
  .wave-divider-dark {
    display: none;
  }
  .hard-asset-container {
    margin-bottom: 0;
  }
}
